Console.Write("\tEnter Num 1  : ");
			string Num1 = Console.ReadLine();
			Console.Clear();
			Console.Write("\tEnter Num 1  : "+Num1+"\tEnter Num 2  : ");
			string Num2 = Console.ReadLine();
			Console.Write("\tEnter Num 3  : ");
			string Num3 = Console.ReadLine();
			Console.Clear();
			Console.Write("\tEnter Num 1  : "+Num1+"\tEnter Num 2  : "+Num2+("\n")+"\tEnter Num 3  : "+Num3+
			"\tEnter Num 4  : ");
			string Num4 = Console.ReadLine ();
			Console.Write("\tEnter Num 5  : ");
			string Num5 = Console.ReadLine();
			Console.Clear();
			Console.Write("\tEnter Num 1  : "+Num1+"\tEnter Num 2  : "+Num2+("\n")+"\tEnter Num 3  : "+Num3+
			"\tEnter Num 4  : "+Num4+("\n")+"\tEnter Num 5  : "+Num5+"\tEnter Num 6  : ");
			string Num6 = Console.ReadLine ();

			Console.Write("\tEnter Num 7  : ");
			string Num7 = Console.ReadLine();
			Console.Clear();
			Console.Write("\tEnter Num 1  : "+Num1+"\tEnter Num 2  : "+Num2+("\n")+"\tEnter Num 3  : "+Num3+
			"\tEnter Num 4  : "+Num4+("\n")+"\tEnter Num 5  : "+Num5+"\tEnter Num 6  : "+Num6+("\n")+"\tEnter Num 7  : "
			+Num7+"\tEnter Num 8  : ");
			string Num8 = Console.ReadLine ();

			Console.Write("\tEnter Num 9  : ");
			string Num9 = Console.ReadLine();
			Console.Clear();
			Console.Write("\tEnter Num 1  : "+Num1+"\tEnter Num 2  : "+Num2+("\n")+"\tEnter Num 3  : "+Num3+
			"\tEnter Num 4  : "+Num4+("\n")+"\tEnter Num 5  : "+Num5+"\tEnter Num 6  : "+Num6+("\n")+"\tEnter Num 7  : "
			+Num7+"\tEnter Num 8  : "+Num8+("\n")+"\tEnter Num 9  : "
			+Num9+"\tEnter Num 10 : ");
			string Num10 = Console.ReadLine ();

			Console.WriteLine ("Num 1 Num 2");
			Console.WriteLine ("Num 3 Num 4");
			Console.WriteLine ("Num 5 Num 6");
			Console.WriteLine ("Num 7 Num 8");
			Console.WriteLine ("Num 9 Num 10");
